/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "foundation_and_overrides";

.top-bar a {
  color: #320722;
}

.top-bar {
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 15px;
  line-height: 1.4;
  color: #320722 ;
}

.dropdown.menu {
  position: relative;
  padding-right: 1.5rem;
}

body {
  background-color: #cccccc;
  text-align: center;
}

h1 {
  font-family: Satisfy;
  font-size: 86px;
}


#location {
  position: relative;
  background-size: cover;
  background-position: center top;
  height: 600px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
}
